.header{
    width: 1000px;
    margin: auto;
    height: 100px;
    @include media('<=1000px') {
        width: 100%;
    }
    ul{
        background: #f09;
        overflow: hidden;
        list-style: none;
        @extend .clearfix;
        li{
            float: left;
             a{
              color:$linkColor; 
              &:hover{
                color: $linkColorHover;  
              }  
            }
        }
       
    } 
}
main .primary-btn{
    color: #000;
}
.btn{
   @include btn($btnPrimaryBg, #fff, 12px, 20px); 
}
.primary-btn{
   @include btn($btnSecondaryBg,#49343F, 6px, 25px); 
}