$backgroundColor: #FFAA05;

$linkColor: #ff0;
$linkColorHover: #000;

$btnPrimaryBg:#1C5EEC;
$btnSecondaryBg:#C3327C;

$ui-red: #f00;
$ui-green: green;

$font-lg: 36px;
$font-medium: 18px;
$font-small: 14px;